In [1]:
import pandas as pd

In [2]:
list = [[(59.1421, 18.1651)], [(59.1638, 18.1317)], [(59.1545, 18.1352)], [(59.2146, 18.1665)], [(59.1921, 18.0844)], [(59.1883, 18.1672)], [(59.2161, 18.1068)], [(59.2205, 18.1567)], [(59.2211, 18.1337)], [(59.1614, 18.0918)]]

In [3]:
lat_list = []
lon_list = []

In [4]:
for coord in list:
    for lat, lon in coord:
        lat_list.append(lat)
        lon_list.append(lon)

In [5]:
df = pd.DataFrame(columns=['lat', 'lon'])

In [6]:
df['lat'] = lat_list
df['lon'] = lon_list

In [7]:
df

       lat      lon
0  59.1421  18.1651
1  59.1638  18.1317
2  59.1545  18.1352
3  59.2146  18.1665
4  59.1921  18.0844
5  59.1883  18.1672
6  59.2161  18.1068
7  59.2205  18.1567
8  59.2211  18.1337
9  59.1614  18.0918

In [8]:
df.describe()

             lat        lon
count  10.000000  10.000000
mean   59.187450  18.133910
std     0.030157   0.030963
min    59.142100  18.084400
25%    59.162000  18.113025
50%    59.190200  18.134450
75%    59.215725  18.163000
max    59.221100  18.167200

In [9]:
df.cov()

          lat       lon
lat  0.000909  0.000038
lon  0.000038  0.000959

In [10]:
# Use standard deviation to determine proximity of locations?
df.std()['lat']

0.030157300571797857

In [30]:
ipdf = pd.read_csv(
    './Data/failed_logins.csv',
    delimiter='\t',
    names=['id', 'user_id', 'user_login', 'failed_login_date', 'login_attempt_ip']
)

In [31]:
ipdf

        id  user_id user_login    failed_login_date login_attempt_ip
0        1        1     girard  2019-03-24 16:07:33     34.73.140.66
1        2        1     girard  2019-03-24 16:25:20   35.200.165.142
2        3        1     girard  2019-03-24 16:44:33   45.119.212.150
3        4        1     girard  2019-03-24 16:57:16    18.220.230.76
4        5        1     girard  2019-03-24 17:09:34    80.241.140.29
...    ...      ...        ...                  ...              ...
5739  5740        1     girard  2020-12-13 02:40:25  185.220.102.248
5740  5741        1     girard  2020-12-13 06:04:03    158.69.253.57
5741  5742        1     girard  2020-12-20 08:09:35     192.95.30.65
5742  5743        1     girard  2020-12-20 11:21:05   188.165.194.99
5743  5744        1     girard  2020-12-20 15:14:38     192.95.30.59

[5744 rows x 5 columns]

In [37]:
ipdf.drop_duplicates(subset='login_attempt_ip', inplace=True)

In [38]:
ip_list = ipdf['login_attempt_ip'].tolist()

In [39]:
len(ip_list)

2687

In [41]:
short_list = ip_list[:50]

In [42]:
short_list

['34.73.140.66',
 '35.200.165.142',
 '45.119.212.150',
 '18.220.230.76',
 '80.241.140.29',
 '129.204.214.202',
 '159.65.100.77',
 '159.69.109.9',
 '35.247.161.205',
 '144.217.192.207',
 '3.120.188.156',
 '45.119.83.154',
 '82.221.143.15',
 '157.230.108.13',
 '34.234.105.120',
 '35.202.135.255',
 '27.254.95.167',
 '148.72.23.24',
 '185.104.106.72',
 '128.199.254.22',
 '13.59.80.109',
 '52.60.160.242',
 '18.196.237.23',
 '35.184.171.7',
 '51.38.68.11',
 '134.175.130.47',
 '18.191.155.227',
 '138.68.21.195',
 '138.197.150.253',
 '27.254.144.146',
 '35.178.62.12',
 '18.206.175.134',
 '52.11.95.206',
 '178.128.115.78',
 '209.128.68.132',
 '68.183.35.77',
 '178.128.215.136',
 '18.191.29.98',
 '13.115.34.63',
 '78.142.211.30',
 '206.189.36.106',
 '52.27.176.249',
 '35.180.39.118',
 '3.80.0.44',
 '184.107.218.106',
 '35.227.57.72',
 '176.219.3.55',
 '34.80.178.40',
 '34.220.94.26',
 '185.179.24.32']

In [43]:
import pickle
pickle.dump(short_list, open('./Data/short_list.p', 'wb'))