In [1]:
import pandas as pd

In [2]:
list = [[(59.1421, 18.1651)], [(59.1638, 18.1317)], [(59.1545, 18.1352)], [(59.2146, 18.1665)], [(59.1921, 18.0844)], [(59.1883, 18.1672)], [(59.2161, 18.1068)], [(59.2205, 18.1567)], [(59.2211, 18.1337)], [(59.1614, 18.0918)]]

In [3]:
lat_list = []
lon_list = []

In [4]:
for coord in list:
    for lat, lon in coord:
        lat_list.append(lat)
        lon_list.append(lon)

In [5]:
df = pd.DataFrame(columns=['lat', 'lon'])

In [6]:
df['lat'] = lat_list
df['lon'] = lon_list

In [7]:
df

       lat      lon
0  59.1421  18.1651
1  59.1638  18.1317
2  59.1545  18.1352
3  59.2146  18.1665
4  59.1921  18.0844
5  59.1883  18.1672
6  59.2161  18.1068
7  59.2205  18.1567
8  59.2211  18.1337
9  59.1614  18.0918

In [8]:
df.describe()

             lat        lon
count  10.000000  10.000000
mean   59.187450  18.133910
std     0.030157   0.030963
min    59.142100  18.084400
25%    59.162000  18.113025
50%    59.190200  18.134450
75%    59.215725  18.163000
max    59.221100  18.167200

In [9]:
df.cov()

          lat       lon
lat  0.000909  0.000038
lon  0.000038  0.000959

In [10]:
# Use standard deviation to determine proximity of locations?
df.std()['lat']

0.030157300571797857